<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Обмен валюты')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Введите имя пользователя и пароль</h1>
            <form name="f" data-th-action="@{/login}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Login" id="login" name="username" type="text" class="validate" required>
                        <label for="login">Login</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Password" id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Войти</button>
            </form>

        </div>
    </div>


    <div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>
</div>
</body>
</html>